{% extends "layout.html" %} {% load static %} {% block body %}

<section class="team" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-md-4 d-flex align-items-stretch">
                <div class="member">
                    <div class="member-img" style="top: 20%;">
                        <img src="{% static 'img/my_picture.jpg' %}" class="img-fluid" alt="">
                        <div class="social">
                            <a href="https://github.com/rihardsp"><i class="bi bi-github" target="_blank"></i></a>
                            <a href="https://www.linkedin.com/in/rihards-paze/" target="_blank"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 d-flex align-items-stretch">
                <div class="member">
                    <div class="member-info">
                        <h4>Rihards Paze</h4>
                        <span>Technology Consultant</span>
                        <p>
                            I am a Tax Process Improvement and Technology professional - working on projects as technology Project/Product manager (PMP) who likes getting his hands dirty by developing some proof of concepts or work items myself (I can develop in JS, Python, UiPath
                            and HTML).
                        </p>
                        <p>
                            In projects I like to be very close to the detail both from a business perspective and technology. Have a broad tax and accounting expertise from hands-on experience on a wide range of client engagements before shifting my career towards technology. Always
                            eager to pursue and conquer new challenges. Love to learn something new every day. I am bringing never-ending enthusiasm and energy to every project I am on. During my studies at the university, I have professionally played
                            basketball which has taught me a lot about teamwork, leadership and discipline.
                        </p>
                        <p>
                            Personality type: “The Campaigner” (ENFP-T)
                        </p>

                        <p>
                            Please use links to my <a href="https://www.linkedin.com/in/rihards-paze/" target="_blank">Linkedin</a> and <a href="https://github.com/rihardsp" target="_blank">Github</a> accounts to find out more about me. You can find my
                            portfolio of projects developed for Harvard CS50 and CS50w courses by using this
                            <a href="https://github.com/me50/rihardsp" target="_blank">link.</a> Please use the branches drop down to see those proejcts.</p>
                        </p>
                        <p>You can also find the source code for this website here - <a href="https://github.com/rihardsp/CS50w_book_worm" target="_blank">https://github.com/rihardsp/CS50w_book_worm</a></p>
                    </div>
                </div>
            </div>
        </div>

</section>

{% endblock %}
