{% extends "layout.html" %} {% load static %} {% block body %}
<!-- ======= About the book Section ======= -->
<section class="book section-bg" data-aos="fade-up" date-aos-delay="200">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <img src="{{ volumeInfo.imageLinks.thumbnail }}" class="center">
      </div>
      <div class="col-lg-6 d-flex flex-column justify-content-center p-5">
        <div class="row">
          <div class="col-lg-6">
            <div class="icon-box">
              <div class="icon">
                <i class="bx bx-book"></i>
              </div>
            </div>
            <h4 class="title"><a href="https://en.wikipedia.org/wiki/{{ volumeInfo.title }}" target="_blank">{{ volumeInfo.title }}</a></h4>
          </div>
          <div class="col-lg-4">
            <div class="icon-box">
              <div class="icon">
                <i class="bx bx-fingerprint"></i>
              </div>
              <h4 class="title">{% for author in volumeInfo.authors %} <a href="https://en.wikipedia.org/wiki/{{ author }}" target="_blank">{{ author }}</a>{% endfor %}</h4>
            </div>
          </div>
        </div>
        <p class="description">{{ volumeInfo.text_description.short }}<span id="dots">...</span><span id="readmore">{{ volumeInfo.text_description.long }}</span><button onclick="read_more()" id="readmore-btn" class="btn btn-link" style="padding:0;top:0;">Read more</button></p>
      </div>
      <div class="col-md-3 col-lg-3 align-items-stretch services" data-aos="fade-up" data-aos-delay="100">
        <div>
          <br>
          <div class="icon-box icon-box-cyan">
            <div class="icon">
              <a href="{{ volumeInfo.previewLink }}" target="_blank">
              <img src="{% static 'img/1200px-Google_Books_logo_2015.svg.png' %}" style="height:25px"></a>
            </div>
            {% if volumeInfo.averageRating %}
            <a href="{{ volumeInfo.previewLink }}" target="_blank">
              <p class="description">Average rating: {{ volumeInfo.averageRating }} </p>
              <p class="description">Ratings given: {{ volumeInfo.ratingsCount }} </p>
            </a>
            <br><br><br> {% else %}
            <p class="description"> No Rating Given</p>
            {% endif %}
          </div>
          <div>
            <div>
              <button type="button" class="btn btn-secondary" style="width:100%; background: #1e4356; color: #fff;" data-bs-toggle="modal" data-bs-target="#exampleModal">
               Write blog about this book!
              </button>
              <br>
              <br> {% if blog_in_library %}
              <button type="button" class="btn btn-secondary" style="width:100%; background: #1e4356; color: #fff;">Save to my library</button> {% else %}
              <button type="button" class="btn btn-secondary" style="width:100%;background: #1e4354; color: #fff;">Remove from my library</button> {% endif %}
            </div>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">My Thoughts on {{ volumeInfo.title }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="form-group">
                        <input type="email" class="form-control" id="blog_title" placeholder="Title">
                      </div>
                      <br>
                      <div class="form-group">
                        <textarea class="form-control" id="blog_text" rows="5" placeholder="Tell us what you thin about {{ volumeInfo.title }}..."></textarea>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" style="background: #1e4356; color: #fff;">Save blog</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End GENERAL INFO Section -->


<!-- ======= COMPARISION  Section ======= -->

<section class="services">
  <div class="container">
    <div class="row">

      <div class="col-md-6 col-lg-3 align-items-stretch" data-aos="fade-up">
        <a href="{{ volumeInfo.URL_Amazon }}" target="_blank">
          <div class="icon-box icon-box-pink">
            <div class="icon">
              <img src="{% static 'img/Amazon.jpg' %}" style="height:25px">
            </div>
            <h4 class="title">Amazon</h4>
            <p class="description">To Amazon Book Search</p>
            <small style="font-size: 10px;"> Unfortunately Amazon do not provide product rating information via API</small>
          </div>
        </a>
      </div>

      <div class="col-md-6 col-lg-3 align-items-stretch" data-aos="fade-up" data-aos-delay="100">
        <a href="{{ volumeInfo.URL_GoodReads }}" target="_blank">
          <div class="icon-box icon-box-cyan">
            <div class="icon">
              <img src="{% static 'img/Goodreads.jfif' %}" style="height:25px">
            </div>
            <h4 class="title">Goodreads</h4>
            <p class="description">To book on Goodreads</p>
            <small style="font-size: 10px;"> From 2020 Goodreads do not provide new API keys anymore.</small>
          </div>
        </a>
      </div>

      <div class="col-md-6 col-lg-3 align-items-stretch" data-aos="fade-up" data-aos-delay="100">
        <a href="{{ volumeInfo.URL_OpenLibrary }}" target="_blank">
          <div class="icon-box icon-box-cyan">
            <div class="icon"><img src="{% static 'img/OpenLibraryLogo.png' %}" style="height:25px">
            </div>
            <h4 class="title">Open Library</h4>
            <p class="description">To book on Open Library</p>
            <small style="font-size: 10px;">Open Library API does not share book ratings.</small>
          </div>
        </a>
      </div>

      <div class="col-md-6 col-lg-3 align-items-stretch" data-aos="fade-up" data-aos-delay="100">
        <a href="{{ volumeInfo.URL_LibraryThing }}" target="_blank">
          <div class="icon-box icon-box-cyan">
            <div class="icon">
              <img src="{% static 'img/librarything-icon.jpeg.optimal.jpeg' %}" style="height:25px">
            </div>
            <h4 class="title">Library Thing</h4>
            <p class="description">To book on Library Thing</p>
            <small style="font-size: 10px;">Library Thing API does not share book ratings</small>
          </div>
        </a>
      </div>

    </div>
  </div>
</section>
<!-- ======= CLASSIFIER  Section ======= -->
<!-- 
     https://stackabuse.com/text-classification-with-python-and-scikit-learn/
     https://towardsdatascience.com/text-classification-in-python-dd95d264c802
     https://monkeylearn.com/blog/what-is-a-classifier/ 
     https://aws.amazon.com/machine-learning/
     
     -->
{% endblock %} {% block script %}

<script src="{% static 'js/book_view.js' %}"></script>
{% endblock %}
