{% extends "layout.html" %}
{% load static %}

{% block body %}
     <!-- ======= About the book Section ======= -->
    <section class="book section-bg" data-aos="fade-up" date-aos-delay="200">
      <div class="container">

        <div class="row">
          
          
          <div class="col-lg-4">
            <img src="{{ volumeInfo.imageLinks.thumbnail }}" class="center">
          </div>
            <div class="col-lg-8 d-flex flex-column justify-content-center p-5">
              <div class="row">
                <div class="col-lg-6">
                <div class="icon-box">
                  <div class="icon">
                    <i class="bx bx-book"></i>
                  </div>
                </div>
                <h4 class="title"><a href="https://en.wikipedia.org/wiki/{{ volumeInfo.title }}" target="_blank">{{ volumeInfo.title }}</a></h4>
                </div>
                <div class="col-lg-6">
                <div class="icon-box">
                  <div class="icon">
                    <i class="bx bx-fingerprint"></i>
                  </div>
                  <h4 class="title">{% for author in volumeInfo.authors %} <a href="https://en.wikipedia.org/wiki/{{ author }}" target="_blank">{{ author }}</a>{% endfor %}</h4>
                </div>
                </div>
              </div>
              <p class="description">{{ volumeInfo.text_description.short }}<span id="dots">...</span><span id="readmore" >{{ volumeInfo.text_description.long }}</span><button onclick="read_more()" id="readmore-btn" class="btn btn-link" style="padding:0;top:0;">Read more</button></p>
          </div>
        </div>
      </div>

      </div>
    </section><!-- End Why Us Section -->
  
  
    <!-- ======= COMPARISION  Section ======= -->

    <section class="services">
      <div class="container">

        <div class="row">
          <div class="col-md-6 col-lg-3 align-items-stretch" data-aos="fade-up">
            <div class="icon-box icon-box-pink">
              <div class="icon"><img src="{% static 'img/Amazon.jpg' %}" style="height:25px"></div>
              <h4 class="title"><a href="">Amazon</a></h4>
              {% if volumeInfo.averageRating %}
              <a  href="https://www.amazon.co.uk/s?k={{ volumeInfo.title }}=stripbooks&ref=nb_sb_noss_2" target="_blank"><p class="description">To Amazon Book Search</p> </a>
              <small style="font-size: 10px;"> Unfortunately Amazon do not provide product rating information via API </small>
               {% else %}
              <p class="description"> No Rating Given</p>
              {% endif %} </div>
          </div>

          <div class="col-md-6 col-lg-3 align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box icon-box-cyan">
              <div class="icon"><a href="{{ volumeInfo.previewLink }}" target="_blank"><img src="{% static 'img/1200px-Google_Books_logo_2015.svg.png' %}" style="height:25px"></a></div>
              <h4 class="title"><a href="{{ volumeInfo.previewLink }}" target="_blank">Google Books</a></h4>
              {% if volumeInfo.averageRating %}
              <a  href="{{ volumeInfo.previewLink }}" target="_blank"><p class="description">Average rating: {{ volumeInfo.averageRating }} </p> <p class="description">Ratings given: {{ volumeInfo.ratingsCount }} </p></a>
               <br><br><br>
               {% else %}
              <p class="description"> No Rating Given</p>
              {% endif %}
           </div>
          </div>
          
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box icon-box-green">
              <div class="icon"><img src="{% static 'img/OpenLibraryLogo.png' %}" style="height:25px"></div>
              <h4 class="title"><a href="">Open Library</a></h4>
              <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box icon-box-blue">
              <div class="icon"><img src="{% static 'img/librarything-icon.jpeg.optimal.jpeg' %}" style="height:25px"></div>
              <h4 class="title"><a href="">Library Thing</a></h4>
              <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
            </div>
          </div>

        </div>

      </div>
    </section>
    <!-- ======= CLASSIFIER  Section ======= -->
     <!-- 
     https://stackabuse.com/text-classification-with-python-and-scikit-learn/
     https://towardsdatascience.com/text-classification-in-python-dd95d264c802
     https://monkeylearn.com/blog/what-is-a-classifier/ 
     
     -->
{% endblock %}


{% block script %}

  <script src="{% static 'js/book_view.js' %}"></script>
{% endblock %}

