{% extends "layout.html" %}
{% load static %}

{% block body %}

    {% if user.is_authenticated %}
    
        <!-- ======= Top Section if  authenticated ======= -->
        <section id="hero-no-slider" class="d-flex justify-cntent-center align-items-center">
        <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
          <div class="row justify-content-center">
            <div class="col-xl-8">
              <!--  TO DO - Make this apepar only once -->
              <h2>Welcome  {{ user }} to Book Worm</h2>
              <p>Scroll down to see what  your friends are blogging about the books they've read....</p>
            </div>
          </div>
        </div>
      </section><!-- End Hero No Slider Sectio -->
    <main id="main">
      
      TO DO 
 
    </main>

    {% else %}
      <!-- ======= Top Section if not authenticated ======= -->
      <section id="hero-no-slider" class="d-flex justify-cntent-center align-items-center">
        <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
          <div class="row justify-content-center">
            <div class="col-xl-8">
              <h2>Welcome to Book Worm</h2>
              <p>Please login to your account</p>
              <a href="{% url 'login' %}" class="btn-get-started ">Login</a>
              <a href="{% url 'register' %}" class="btn-get-started ">Register</a>
            </div>
          </div>
        </div>
      </section>
      <!-- End Hero No Slider Sectio -->
    {% endif %}
{% endblock %}